body {
  font: .7em verdana, arial, sans-serif;
  background-color:#b0c4de;
	margin-top: 10px;
	margin-left:10px; 
	margin-right:10px;
	/* border: 1px solid black; */
}
/* img { border: 1px; position: absolute; } */
* {margin:0; padding:0;}
div#header {
	width:auto;
}
#leftcol {
	float:left;
	width:175px;
	display:inline; /* stops IE doubling  margin on float*/
	/* border: 1px solid black; */
}
div#map {
	width:600px;
	margin-left:300px;
	margin-top: -290px;
	/* margin-right:170px; */
	/* border: 1px solid black; */
}
div#content h1,h2,h3 {
	text-align: center	
}

