<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<BR>
<BR>
<BR>
<%= if (!is.null(req$POST())) {

    data <- req$POST()[["data"]]
    data <- read.csv(data$tempfile)
    location <- req$POST()[["location"]]
    location <- read.csv(location$tempfile)
    
    source("../r/IBIlocation.r")
    source("../r/IBImap.r")
    source("../r/IBIname_match.r")
    source("../r/SoCal_IBI.r")
    
    SoCal_IBI(location, data)
    
    png(file=paste(imagepath, "map2.png"))
    print(map2)
    dev.off()
    
    image <- "../plots/map2.png"
    
    } else{
    image <- "'../images/socal_basemap.png'"
    }
    %>
    <img src=<%=image %> />
    </html>