<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title>IBI Calculator</title>
<link rel="stylesheet" type="text/css" href="../css/ibiscore.css" />
</head>
<body>
<h2>Calculating Index of Biotic Integrity Scores for California Streams</h2>
<div id="mainwrapper">
<div id="twocolwrap"><!-- encloses the left and center columns-->
<div id="leftcol"><!-- the left column-->
<p>This calculator can take taxonomic abundance data, along with locality data, and
produce metrics and scores used for calculating the index of biotic integrity. Please
upload files that have the following attributes: 1) Are in .csv format. 2) The "data" file
has at least columns StationCode, SampleID, FinalID, and BAResult. DistinctiveCode, SampleDate are
optional. 3) The "location" file has columns StationCode, Latitude, and Longitude.
<HR>
<BR>
Data:<BR>
<form method="POST" enctype="multipart/form-data">
<input type="file" name="data">
<BR>
Location:<BR>
<form method="POST" enctype="multipart/form-data">
<input type="file" name="location">
<input type="submit">
</div>
<div id="content">
<div id="plot"><% brew('ibimap.rhtml') %></div>
</div><!--end of content div-->

</div><!--end of twocolwrap-->

</div><!--end mainwrapper-->
</body></html>
